<div class="main-page">
    <h1 style="color: #737e61;"> Welcome to myFlix </h1>

    <div> 
      <button
        mat-raised-button
        (click) = "openUserRegistrationDialog()"
        style="margin-right: 10px; background-color: #737e61; color:rgb(250, 250, 234);"
        > 
        Sign Up
      </button>
      <button
        mat-raised-button
        (click) = "openUserLoginDialog()"
        style="background-color: #737e61; color:rgb(250, 250, 234)"
        > 
        Login
      </button>
    </div>
</div>
  
  